.header-color {
  background: linear-gradient(#ffffff, #ffffff);
}

.header-link {
  text-decoration: none;
  color: black;
}

.logo {
  width: 50%;
  height: 50%;
}

.landing-grid {
  font-family: "Century Gothic", sans-serif;
  position: relative;
  width: 100%;
}

#title-separator {
  border-top: 4px solid rgb(24, 180, 24);
  width: 35%;
  margin-left: auto; 
  margin-right: auto; /* margin-left and margin-right both set to auto will center a horizonal line tag */
}

#opening-text {
  text-align: left;
  color: black;
  margin-left: -150px;
  margin-top: 75px;
  max-width: 400px;
  font-size: 60px;
  font-weight: 900;
  overflow-wrap: break-word;
}

#under-opening {
  text-align: left;
  color: black;
  margin-left: -150px;
  margin-top: 50px;
  max-width: 400px;
}

.banner-text {
  position: relative;
  padding: 10px;
  height: 80%;
  top: 10%;
}

.banner-text h1 {
  text-align: left;
  color: black;
  margin-left: -150px;
  max-width: 400px;
  font-size: 60px;
  font-weight: 900;
  overflow-wrap: break-word;
}

.banner-text p {
  color: black;
  text-align: center;
  margin: 50px;
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.banner-text hr {
  text-align: center;
  border-top: 5px black dotted;
  margin: 20px;
}


.video-box {
  border: 1px solid black;
  background: #33CC66;
  opacity: .1;
  box-shadow: 0 0 5px 5px grey; /* @param h-offset v-offset blur spread color */
  padding: 10x;
  margin: 0 auto;
  height: 80%;
  width: 50%;
  top: 100px;
}

.subscribe-button {
  border: 1px solid black;

}