.header-color {
  /*background: linear-gradient(#ffffff, #ffffff);*/
}

.header-link {
  text-decoration: none;
  color: black;
}

.landing-grid {
  background: white;

  font-family: "Century Gothic", sans-serif;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
}

#title-separator {
  border-top: 4px solid rgb(24, 180, 24);
  width: 35%;
  margin-left: auto; 
  margin-right: auto; /* margin-left and margin-right both set to auto will center a horizonal line tag */
}

.banner-text {
  position: relative;
  padding: 10px;
  height: 80%;
  top: 10%;
}

.banner-text h4 {
  text-align: center;
  color: black;
  margin-top: -10px;
  margin-bottom: -15px;
  font-weight: 900;
}

.banner-text p {
  color: black;
  text-align: center;
  margin: 50px;
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.banner-text hr {
  text-align: center;
  border-top: 5px black dotted;
  margin: 20px;
}


.video-box {
  border: 1px solid black;
  background: #33CC66;
  opacity: .1;
  box-shadow: 0 0 5px 5px grey; /* @param h-offset v-offset blur spread color */
  /*position: relative;*/
  padding: 10x;
  margin: 0 auto;
  height: 80%;
  width: 50%;
  top: 100px;
}

.subscribe-button {
  border: 1px solid black;

}